# CSMAD21 - Applied Data Science with Python - Practical 3

## Pandas

Follow the instructions to complete each of these tasks. This set of exercises focuses on working with Python's Pandas library.

The relevant materials for these exercises is lectures 5 and 6 (Pandas).

This is not assessed but will help you gain practical experience for the exam and coursework.

You will need to download some of the csv data set files from the module Blackboard page and place them in the same folder as this notebook. Run the cell below to load all of the necessary Python modules.

**Questions marked with a * are extra challenging**

In [3]:
import pandas as pd
import requests
import numpy as np
from pandas.io.json import json_normalize

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

## 1. Diamonds example data

1.1. Read in the diamonds csv file to a pandas data frame. Use pandas to find how many diamonds have carat greater than 3.5.

In [6]:
diamonds=pd.read_csv('/content/drive/MyDrive/UoR/Applied_Data_Science_with_Python/week4/data/diamonds.csv')

In [7]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [8]:
#diamods_carat_biger=
len(diamonds[diamonds.carat>3.5])

9

<hr style="border:2px solid black"> </hr>

1.2. Create a series of the price of all of the diamonds that have carat greater than 3.5.

In [ ]:
#diamonds[diamonds.carat>3.5]
diamonds.loc[diamonds.carat>3.5,'price']

<hr style="border:2px solid black"> </hr>

1.3. For ideal cut diamonds whose price is greater than 10000, find the number of diamonds having each clarity.

In [ ]:
diamonds.loc[diamonds['price']>10000]

In [26]:
diamonds.loc[diamonds['price']> 10000].groupby(diamonds['clarity'])['carat'].count()

clarity
I1        30
IF       168
SI1     1184
SI2     1239
VS1      747
VS2     1155
VVS1     247
VVS2     452
Name: carat, dtype: int64

In [28]:
diamonds[diamonds['price']>10000].head()

       carat        cut color clarity  depth  table  price     x     y     z
21928   1.70      Ideal     J     VS2   60.5   58.0  10002  7.73  7.74  4.68
21929   1.03      Ideal     E    VVS2   60.6   59.0  10003  6.50  6.53  3.95
21930   1.23  Very Good     G    VVS2   60.6   55.0  10004  6.93  7.02  4.23
21931   1.25      Ideal     F     VS2   61.6   55.0  10006  6.93  6.96  4.28
21932   2.01  Very Good     I     SI2   61.4   63.0  10009  8.19  7.96  4.96

In [55]:
len(diamonds[(diamonds.carat>3.5) & (diamonds.price>10000)])

9

<hr style="border:2px solid black"> </hr>

1.4 Write a Pandas program to create a new 'price/carat' Series (use bracket notation to define the Series name) of the diamonds DataFrame and fill series with the price per carat of all diamonds.

In [31]:
diamonds['price/carat'] = diamonds.price/diamonds.carat
diamonds

       carat        cut color clarity  ...     x     y     z  price/carat
0       0.23      Ideal     E     SI2  ...  3.95  3.98  2.43  1417.391304
1       0.21    Premium     E     SI1  ...  3.89  3.84  2.31  1552.380952
2       0.23       Good     E     VS1  ...  4.05  4.07  2.31  1421.739130
3       0.29    Premium     I     VS2  ...  4.20  4.23  2.63  1151.724138
4       0.31       Good     J     SI2  ...  4.34  4.35  2.75  1080.645161
...      ...        ...   ...     ...  ...   ...   ...   ...          ...
53935   0.72      Ideal     D     SI1  ...  5.75  5.76  3.50  3829.166667
53936   0.72       Good     D     SI1  ...  5.69  5.75  3.61  3829.166667
53937   0.70  Very Good     D     SI1  ...  5.66  5.68  3.56  3938.571429
53938   0.86    Premium     H     SI2  ...  6.15  6.12  3.74  3205.813953
53939   0.75      Ideal     D     SI2  ...  5.83  5.87  3.64  3676.000000

[53940 rows x 11 columns]

In [30]:
diamonds['price/carat'] = round(diamonds['price'] / diamonds['carat'], 2) 
diamonds

       carat        cut color clarity  ...     x     y     z  price/carat
0       0.23      Ideal     E     SI2  ...  3.95  3.98  2.43      1417.39
1       0.21    Premium     E     SI1  ...  3.89  3.84  2.31      1552.38
2       0.23       Good     E     VS1  ...  4.05  4.07  2.31      1421.74
3       0.29    Premium     I     VS2  ...  4.20  4.23  2.63      1151.72
4       0.31       Good     J     SI2  ...  4.34  4.35  2.75      1080.65
...      ...        ...   ...     ...  ...   ...   ...   ...          ...
53935   0.72      Ideal     D     SI1  ...  5.75  5.76  3.50      3829.17
53936   0.72       Good     D     SI1  ...  5.69  5.75  3.61      3829.17
53937   0.70  Very Good     D     SI1  ...  5.66  5.68  3.56      3938.57
53938   0.86    Premium     H     SI2  ...  6.15  6.12  3.74      3205.81
53939   0.75      Ideal     D     SI2  ...  5.83  5.87  3.64      3676.00

[53940 rows x 11 columns]

<hr style="border:2px solid black"> </hr>

## 2. Vancouver street trees data

2.1. Load the Vancouver street trees data provided on Blackboard. What is the most common genus of tree?

In [32]:
trees=pd.read_csv('/content/drive/MyDrive/UoR/Applied_Data_Science_with_Python/week4/data/StreetTrees_MountPleasant(1).csv')
trees['COMMON_NAME'].value_counts()

KWANZAN FLOWERING CHERRY    785
RED MAPLE                   297
CHANTICLEER PEAR            255
CRIMEAN LINDEN              217
COMMON HORSECHESTNUT        216
                           ...
MOSS SAWARA FALSECYPRESS      1
THUNDERCLOUD PURPLE PLUM      1
SERBIAN SPRUCE                1
CEDAR SPECIES                 1
PATMORE ASH                   1
Name: COMMON_NAME, Length: 255, dtype: int64

In [33]:
trees.head()

   TREE_ID  CIVIC_NUMBER  ...   LATITUDE  LONGITUDE
0      611          2928  ...  49.259191 -123.10953
1     1467           438  ...  49.266702 -123.09324
2     1468           438  ...  49.266701 -123.09331
3     1470           438  ...   0.000000    0.00000
4     1471           438  ...  49.266705 -123.09362

[5 rows x 20 columns]

<hr style="border:2px solid black"> </hr>

2.2. Find the mean diameter of trees with height range ID 9.

In [31]:
trees[trees['HEIGHT_RANGE_ID']==9].DIAMETER.mean()

30.183333333333334

<hr style="border:2px solid black"> </hr>

2.3. Get a Series of HEIGHT_RANGE_ID's for only the trees with a diameters greater than the average diameter of all trees, and drop any NaN values.

In [35]:
len(trees[trees['DIAMETER']>trees['DIAMETER'].mean()])

2543

In [37]:
#len(trees[trees['DIAMETER']>trees['DIAMETER'].mean()].dropna())
trees[trees['DIAMETER']>trees['DIAMETER'].mean()].dropna()

      TREE_ID  CIVIC_NUMBER  ...   LATITUDE LONGITUDE
21       2921           281  ...   0.000000    0.0000
22       2924           281  ...   0.000000    0.0000
23        484             2  ...   0.000000    0.0000
24        485             2  ...   0.000000    0.0000
29       1125           377  ...   0.000000    0.0000
...       ...           ...  ...        ...       ...
6118   257647            10  ...   0.000000    0.0000
6137   258229           414  ...   0.000000    0.0000
6138   258230           414  ...   0.000000    0.0000
6173   166365           122  ...  49.269194 -123.1073
6175    12987           127  ...  49.259467 -123.1080

[2536 rows x 20 columns]

<hr style="border:2px solid black"> </hr>

2.4. Produce a pandas data frame giving the maximum and minimum height range id on each street.

In [38]:
trees['STD_STREET'].unique()

array(['COLUMBIA ST', 'GREAT NORTHERN WAY', 'E 13TH AV', 'E 12TH AV',
       'W 14TH AV', 'CAMBIE ST', 'E 5TH AV', 'W 13TH AV', 'W 1ST AV',
       'E 2ND AV', 'W 2ND AV', 'E 10TH AV', 'E 11TH AV', 'E 1ST AV',
       'E 6TH AV', 'W 4TH AV', 'WATSON ST', 'W 7TH AV', 'E 7TH AV',
       'TERMINAL AV', 'WALTER HARDWICK AV', 'W 10TH AV', 'ONTARIO ST',
       'W 5TH AV', 'E 14TH AV', 'E 8TH AV', 'ST. GEORGE ST',
       'MANITOBA ST', 'W 11TH AV', 'W 8TH AV', 'KEITH DRIVE',
       'CAROLINA ST', 'W BROADWAY', 'E BROADWAY', 'KINGSWAY',
       'GLEN DRIVE', 'ALBERTA ST', 'W 12TH AV', 'ST. CATHERINES ST',
       'E 15TH AV', 'E 18TH AV', 'W 15TH AV', 'E 16TH AV', 'YUKON ST',
       'W 16TH AV', 'MAIN ST', 'CLARK DRIVE', 'ATHLETES WAY',
       'PRINCE EDWARD ST', 'PRINCE ALBERT ST', 'SALT ST', 'BRUNSWICK ST',
       'SOPHIA ST', 'FRASER ST', 'GUELPH ST', 'QUEBEC ST', 'SCOTIA ST',
       'WINDSOR ST', 'WINLAW PLACE', 'W 3RD AV', 'E 4TH AV', 'W 6TH AV',
       'GRANDVIEW HWY NORTH', 'LORNE ST', 'LITTLE ST', 'E 3RD AV',
       'E 53RD AV', 'NORTHERN ST', 'CROWE ST'], dtype=object)

In [41]:
trees.groupby(['STD_STREET'])['HEIGHT_RANGE_ID'].max()

STD_STREET
ALBERTA ST            8
ATHLETES WAY          4
BRUNSWICK ST          6
CAMBIE ST             7
CAROLINA ST           6
                     ..
WALTER HARDWICK AV    2
WATSON ST             3
WINDSOR ST            6
WINLAW PLACE          4
YUKON ST              9
Name: HEIGHT_RANGE_ID, Length: 69, dtype: int64


<hr style="border:2px solid black"> </hr>

## 3. Iris flower example data

3.1. Load the iris.csv flower data. Add two extra columns to the data frame giving the ratio of sepal length over width and petal length over width.

In [35]:
iris = pd.read_csv('/content/drive/MyDrive/UoR/Applied_Data_Science_with_Python/week4/data/iris.csv')

In [36]:
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [40]:
#define SLOV=sepal length over width, PLOW=petal length over width

iris['SLOV']=iris['Sepal.Length']/iris['Sepal.Width']
iris['PLOW']=iris['Petal.Length']/iris['Petal.Width']
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species      SLOV  PLOW
1           5.1          3.5           1.4          0.2  setosa  1.457143   7.0
2           4.9          3.0           1.4          0.2  setosa  1.633333   7.0
3           4.7          3.2           1.3          0.2  setosa  1.468750   6.5
4           4.6          3.1           1.5          0.2  setosa  1.483871   7.5
5           5.0          3.6           1.4          0.2  setosa  1.388889   7.0

<hr style="border:2px solid black"> </hr>

3.2. Calculate the mean of the ratio between sepal length and width for each species.

In [38]:
# use setosa as an example
setosa=iris[iris['Species']=='setosa']
(setosa['Sepal.Length']/setosa['Sepal.Width']).mean()

1.4701876810227483

In [42]:
setosa['SLOV'].mean()

1.4701876810227483

<hr style="border:2px solid black"> </hr>


3.3. Perform a data discovery on the dataset.
- How many classes are?
- What is the distribution of the classes?
- What are the characteristic of the data in general/per class?
You can use methods like unique and describe.

In [92]:
iris.Species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [93]:
iris.describe()

       Sepal.Length  Sepal.Width  ...        SLOV        PLOW
count    150.000000   150.000000  ...  150.000000  150.000000
mean       5.843333     3.057333  ...    1.953681    4.310500
std        0.828066     0.435866  ...    0.400480    2.489648
min        4.300000     2.000000  ...    1.268293    2.125000
25%        5.100000     2.800000  ...    1.546188    2.802381
50%        5.800000     3.000000  ...    2.032292    3.300000
75%        6.400000     3.300000  ...    2.224910    4.666667
max        7.900000     4.400000  ...    2.961538   15.000000

[8 rows x 6 columns]

<hr style="border:2px solid black"> </hr>


3.4. For flowers whos petal ratio is greater than 3cm, find the mean sepal ratio for each species.

You can use methods you have already used in the previoius tasks to complete this task.

In [99]:
#use setosa as an example
setosa.head()
#len(setosa)

50

In [108]:
setosa1=setosa[setosa['PLOW']>3].copy()
setosa1.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species      SLOV  PLOW
1           5.1          3.5           1.4          0.2  setosa  1.457143   7.0
2           4.9          3.0           1.4          0.2  setosa  1.633333   7.0
3           4.7          3.2           1.3          0.2  setosa  1.468750   6.5
4           4.6          3.1           1.5          0.2  setosa  1.483871   7.5
5           5.0          3.6           1.4          0.2  setosa  1.388889   7.0

In [109]:
setosa1.SLOV.mean()

1.4710369922972653

<hr style="border:2px solid black"> </hr>

## 4 Philadelphia bike share live data

4.1 Complete the code below to load a JSON live feed for a Philadelphia bike share program into a pandas data frame. It may help to look at the JSON data in a visual inspector. One way of doing this is to open the url given in Firefox. Once you have loaded the data, look at the head of the data frame, and list all of the columns.

(I've had to add in some header data to the request, as the server rejects all requests without a user agent string)

*You can use the pandas function json_normalize that was imported at the start of the notebook, but you need to pass it a suitable part of the JSON data.* 

*The indego_bikes_data object returned by requests.get() can be converted to a Python data structure using the json() method*

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html

In [44]:
indego_bikes_url = ("https://www.rideindego.com/stations/json/")
headers = {'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:63.0) Gecko/20100101 Firefox/63.0"}
indego_bikes_data = requests.get(indego_bikes_url,headers=headers)

In [ ]:
##To display the data you can use the following line
indego_bikes_data.json()

In [45]:
bikes = json_normalize(indego_bikes_data.json()['features'])
bikes.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

      type   geometry.coordinates  ... properties.latitude  properties.longitude
0  Feature  [-75.16374, 39.95378]  ...            39.95378             -75.16374
1  Feature  [-75.14403, 39.94733]  ...            39.94733             -75.14403
2  Feature   [-75.20311, 39.9522]  ...            39.95220             -75.20311
3  Feature  [-75.15993, 39.94517]  ...            39.94517             -75.15993
4  Feature  [-75.15114, 39.97944]  ...            39.97944             -75.15114

[5 rows x 36 columns]

<hr style="border:2px solid black"> </hr>

4.2. Is there any street with more than one bike station?

In [55]:
bikes.groupby("properties.addressStreet").count()['properties.bikesAvailable']

properties.addressStreet
1000 S Broad Street              1
1015 South Street                1
1046 N. 34th Street              1
107 16th Street                  1
1076 Berks Street                1
                                ..
Crescent Park, Crescent Drive    1
Health Sciences Drive            1
Market & Schuylkill Ave          1
S. 15th & Kitty Hawk Ave         1
Schuylkill River Trail           1
Name: properties.bikesAvailable, Length: 166, dtype: int64

<hr style="border:2px solid black"> </hr>

4.3. Use pandas to count the total number of available docks in each zip code, producing a Series of zipcodes and available dock counts.

*You can use the pandas method sum() on a grouby object to add the all values in a particular group*.

In [57]:
bikes.groupby("properties.addressZipCode")['properties.docksAvailable'].sum()

properties.addressZipCode
19102     62
19103    192
19104    277
19106    110
19107     61
19112     56
19121    103
19122    187
19123     89
19125     38
19130    280
19131     25
19132     23
19139     46
19143     23
19145     63
19146    236
19147    118
19148     96
19149     20
Name: properties.docksAvailable, dtype: int64

In [58]:
bikes.groupby("properties.addressZipCode")[['properties.docksAvailable']].sum()

                           properties.docksAvailable
properties.addressZipCode
19102                                             62
19103                                            192
19104                                            277
19106                                            110
19107                                             61
19112                                             56
19121                                            103
19122                                            187
19123                                             89
19125                                             38
19130                                            280
19131                                             25
19132                                             23
19139                                             46
19143                                             23
19145                                             63
19146                                            236
19147                                            118
19148                                             96
19149                                             20

<hr style="border:2px solid black"> </hr> 

__4.4*__. Using pandas, find the difference between the minimum and maximum number of available bikes at docks within each zip code.

In [64]:
bikes.groupby("properties.addressZipCode").agg({'properties.rewardDocksAvailable':['min','max']})

                          properties.rewardDocksAvailable
                                                      min max
properties.addressZipCode
19102                                                   4  27
19103                                                   3  22
19104                                                   1  34
19106                                                   4  27
19107                                                   0  16
19112                                                  11  19
19121                                                   6  18
19122                                                   4  21
19123                                                   5  13
19125                                                   4  26
19130                                                  11  36
19131                                                   7  19
19132                                                  11  12
19139                                                   9  20
19143                                                   6  17
19145                                                  13  17
19146                                                  10  31
19147                                                   1  21
19148                                                   5  27
19149                                                  20  20

__4.5*__. Write Python code using pandas to determine the postal code with the highest median of docks available.

<hr style="border:2px solid black"> </hr> 

## 5 Bikes Dataset

Load the bikes.csv file into a pandas data frame. Using the DataFrame method isnull(), you can produce a DataFrame where each value is either True if the value is  missing, or False if it is present.

5.1. Produce a count of the number of missing values in each column in the DataFrame.

*Tip - the sum() method treats True and False values as 1 and 0 respectively https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html*

In [69]:
bikes=pd.read_csv('/content/drive/MyDrive/UoR/Applied_Data_Science_with_Python/week4/data/bikes.csv')

In [70]:
bikes.isnull().sum()

Rental ID                    0
Start Time                   0
End Time                     0
Bike ID                      0
Duration in Seconds          0
Start Station ID             0
Start Station Name           0
End Station ID               0
End Station Name             0
User Type                    0
Member Gender           185554
Member Birthday Year    180953
dtype: int64

<hr style="border:2px solid black"> </hr> 

5.2. Think of a sensible way of removing the missing values and use this to create a new DataFrame with no missing values. You can use the copy() method to duplicate a DataFrame before modifying it.

In [71]:
bikes_dropna=bikes.copy().dropna()
bikes_dropna.isnull().sum()

Rental ID               0
Start Time              0
End Time                0
Bike ID                 0
Duration in Seconds     0
Start Station ID        0
Start Station Name      0
End Station ID          0
End Station Name        0
User Type               0
Member Gender           0
Member Birthday Year    0
dtype: int64

<hr style="border:2px solid black"> </hr> 

5.3. Use the describe() method to calculate statistics of the columns in the data frame. Is there anything strange about the values in a column?

In [72]:
bikes_dropna.describe()

          Rental ID        Bike ID  ...  End Station ID  Member Birthday Year
count  9.226080e+05  922608.000000  ...   922608.000000         922608.000000
mean   2.281821e+07    3410.908376  ...      205.009409           1983.954518
std    3.747956e+05    1912.395388  ...      154.434312             10.788886
min    2.217853e+07       1.000000  ...        2.000000           1759.000000
25%    2.249225e+07    1748.000000  ...       81.000000           1979.000000
50%    2.280984e+07    3491.000000  ...      176.000000           1987.000000
75%    2.314255e+07    5100.000000  ...      293.000000           1992.000000
max    2.347939e+07    6471.000000  ...      664.000000           2014.000000

[8 rows x 6 columns]

<hr style="border:2px solid black"> </hr> 

5.5. Convert the Start Time and End Time columns to pandas datetime objects. You can do this using the pd.to_datetime method on those columns.

Create a new column in the data frame that gives the day of the week the journey was started on. You can extract the day of the week from a datetime object using the .dayofweek attribue, and use the apply method of a column in a DataFrame to apply a function to each value in the column.

In [73]:
bikes_dropna.head()

   Rental ID           Start Time  ... Member Gender  Member Birthday Year
0   22178529  2019-04-01 00:02:22  ...          Male                1975.0
1   22178530  2019-04-01 00:03:02  ...        Female                1984.0
3   22178531  2019-04-01 00:11:07  ...          Male                1990.0
4   22178532  2019-04-01 00:13:01  ...          Male                1993.0
5   22178533  2019-04-01 00:19:26  ...          Male                1992.0

[5 rows x 12 columns]

In [77]:
bikes_dropna['Start Time']=pd.to_datetime(bikes_dropna['Start Time'])
bikes_dropna['End Time']=pd.to_datetime(bikes_dropna['End Time'])
bikes_dropna.head()

   Rental ID          Start Time  ... Member Gender  Member Birthday Year
0   22178529 2019-04-01 00:02:22  ...          Male                1975.0
1   22178530 2019-04-01 00:03:02  ...        Female                1984.0
3   22178531 2019-04-01 00:11:07  ...          Male                1990.0
4   22178532 2019-04-01 00:13:01  ...          Male                1993.0
5   22178533 2019-04-01 00:19:26  ...          Male                1992.0

[5 rows x 12 columns]

<hr style="border:2px solid black"> </hr> 

5.6. Create a new column in the data frame giving the (approximate) age in years of the user for each journey.

<hr style="border:2px solid black"> </hr> 

5.7. Investigate the numbers of journeys starting at each hour of the day. You can use the hour attribute of a pandas datetime object to extract the hour of the day from the starting times.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.hour.html

In [85]:
bikes_dropna['Start Hour']=bikes_dropna['Start Time'].dt.hour
bikes_dropna.head()

   Rental ID          Start Time  ... Member Birthday Year  Start Hour
0   22178529 2019-04-01 00:02:22  ...               1975.0           0
1   22178530 2019-04-01 00:03:02  ...               1984.0           0
3   22178531 2019-04-01 00:11:07  ...               1990.0           0
4   22178532 2019-04-01 00:13:01  ...               1993.0           0
5   22178533 2019-04-01 00:19:26  ...               1992.0           0

[5 rows x 13 columns]

In [86]:
bikes_dropna.groupby(bikes_dropna['Start Hour'])['Rental ID'].count()

Start Hour
0       4829
1       2673
2       1537
3       1078
4       1668
5       8993
6      28306
7      63627
8      81987
9      41003
10     33052
11     40290
12     46294
13     44693
14     43109
15     52860
16     91683
17    123528
18     80356
19     52258
20     32004
21     22527
22     15080
23      9173
Name: Rental ID, dtype: int64

<hr style="border:2px solid black"> </hr> 

__5.8*__. Use the pandas cut() function to create a new column in the data frame that assigns an age range of the user for each journey. Use this new column to visualise the relationship between age group and duration of journeys.

You can find documentation on the cut function here - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html